# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# Environment files
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# System files
Thumbs.db
